body {
    background-image: url('/static/images/fon-sait.jpg');
    background-size: cover;
    color: white;
}

.container mt-1 {
    color: aliceblue;
}

.carousel-inner img{
    object-fit: cover;
    vertical-align: middle;
    border-style: none;
    height: 40vh;
}

.col-md-6 button{
    vertical-align: middle;
}

.modal-content{
    background-color: black;
}

.form-control{
    background-color: rgb(191, 235, 253);
}

.contact-info {
    margin-top: 20px;
}

.map-container {
    height: 400px; /* Высота карты */
    margin-top: 20px;
}