{% extends 'navigation.html' %}
{% block title %}
О компании
{% endblock %}
{% block content %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>AutoHouse</h1>
            <p>AutoHouse - это удобный способ получить доступ к транспорту на определенный период времени. Вот несколько преимуществ, которые предоставляет прокат автомобилей:</p>
            <ul>
            <li>Гибкость: вы можете взять автомобиль на прокат только на нужный вам период времени, без необходимости покупки.</li>
            <li>Разнообразие выбора: прокатные компании обычно предлагают широкий выбор автомобилей различных марок и моделей.</li>
            <li>Экономия денег: если вам не нужно постоянно пользоваться автомобилем, прокат может быть более выгодным, чем его покупка и обслуживание.</li>
            <li>Сокращение проблем: прокатные компании обычно берут на себя ответственность за обслуживание и ремонт автомобилей, что позволяет вам избежать этих забот.</li>
            </ul>
            <p>Прокат автомобилей также решает множество проблем, связанных с поездками, таких как отсутствие собственного автомобиля во время путешествий или бизнес-поездок, невозможность использования общественного транспорта в отдаленных районах и другие.</p>
        </div>
    </div>
</div>
{% endblock %}